.row {
    .col {
        padding: 0 0 !important;
    }
}

.background {
  background-position: center;
  background-size: cover;
  background-image: url('../images/snow_bg.jpeg');
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  z-index: -1;
  height:100vh;
  width:100%;
  left:0;
  top: 0;
}

.main {
    margin-bottom: 0px;
    text-align: center;
    color: white;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;

    .riddle {
      text-align: left;
    }
}

.section-result {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    background-image: url('../images/snow_bg.jpeg');

    .card-panel {
        width: 80%;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 10vh;

        h3, h5 {
            color: black;
            font-weight: 100;
        }
    }
}

.btn {
  background-color: #e67864;
}
